<app-label-input [error]="error()">
  <button mat-icon-button (click)="handleDeleteLabel()">
    @if(active() || (isHovered$ | async)) {
    <mat-icon>delete</mat-icon>
    } @else {
    <mat-icon>label</mat-icon>
    }
  </button>
  <input 
    #input 
    [formControl]="labelNameInput"
    [value]="label().name"
    placeholder="Enter label name" 
  />
  @if(active()) {
    <button mat-icon-button (click)="handleEditLabel(input.value)">
      <mat-icon>check</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="activate()">
      <mat-icon>edit</mat-icon>
    </button>
  }
</app-label-input>