@let fragment = navigation.fragment$ | async;

<mat-nav-list 
  [class.expanded]="expanded()"
  [class.collapsed]="!expanded()"
>
  <!-- All notes / home -->
  <mat-list-item
    [activated]="fragment === null"
    (click)="navigation.navigate({labelName: null, trash: false})"
  >
    <mat-icon matListItemIcon>folder</mat-icon>
    @if(expanded()){
      <p>Notes</p>
    }
  </mat-list-item>
  
  <!-- Labels --> 
  @for(label of labels(); track label.id) {
    <mat-list-item
      [activated]="fragment === label.name"
      (click)="navigation.navigate({labelName: label.name, trash: false})"
    >
      <mat-icon class="material-icons-outlined" matListItemIcon>label</mat-icon>
      @if(expanded()){
        <p class="label-name">{{label.name}}</p>
      }
    </mat-list-item>
  }

  <!-- Edit labels -->
  <mat-list-item (click)="startEditLabels()">
    <mat-icon class="material-icons-outlined" matListItemIcon>edit</mat-icon>
    @if(expanded()) {
      <span>Edit labels</span>
    }
  </mat-list-item>

  <!-- Trash -->
  <mat-list-item
    [activated]="fragment === 'trash'"
    (click)="navigation.navigate({labelName: null, trash: true})"
  >
    <mat-icon class="material-symbols-outlined" matListItemIcon>delete</mat-icon>
    @if(expanded()){
      <p>Trash</p>
    }
  </mat-list-item>

  <!-- Reset data -->
  <mat-list-item
    (click)="handleResetData()"
  >
    <mat-icon class="material-symbols-outlined" matListItemIcon>restart_alt</mat-icon>
    @if(expanded()){
      <p>Reset data</p>
    }
  </mat-list-item>
</mat-nav-list>