<app-note-form 
  [note]="note()" 
  (onNoteInputChange)="handleEditNote($event)"
  [focusNoteContentInput]="true"
></app-note-form>

@if(note().labels; as labels) {
  <app-labels-stack 
    (onRemoveLabel)="handleEditNote($event)" 
    [labels]="labels"
  ></app-labels-stack>
}
<div class="edited-date">Edited: {{note().lastModified | date:'medium'}}</div>

<app-note-actions>
  <!-- Move note to trash -->
  <button 
    mat-icon-button 
    matTooltip="Move to trash"
    appDeleteNoteAction 
    [note]="note()"
    deleteDialogMessage="Move to trash?"
    (onDeleteNote)="handleDoneEditing()"
  >
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
  </button>

  <!-- Background color -->
  <app-change-background-color-action
    (onChangeNoteBackgroundColor)="handleEditNote($event)"
    [note]="note()"
  ></app-change-background-color-action>

  <!-- Manage labels -->
  <app-note-manage-labels-action 
    [note]="note()"
    (onNoteLabelsInputChange)="handleEditNote($event)"
  ></app-note-manage-labels-action>

  <!-- Create copy of note -->
  <button 
    mat-icon-button 
    matTooltip="Create copy"
    appCreateCopyAction 
    [note]="note()"
  >
    <mat-icon class="material-symbols-outlined">content_copy</mat-icon>
  </button>

  <!-- Close edit dialog -->
  <button align-end mat-button (click)="handleDoneEditing()">Done</button>
</app-note-actions>
