<app-note-form 
  [note]="data.note" 
  (onNoteInputChange)="handleEditNote($event)"
  [focusNoteContentInput]="true"
></app-note-form>
<div class="labels-and-date-edited">
  <div>Labels...</div>
  <span class="spacer"></span>
  <span class="edited-date">Edited</span>
</div>
<app-note-actions>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">palette</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">new_label</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">content_copy</mat-icon>
  </button>
  <button align-end mat-button (click)="handleDoneEditing()">Done</button>
</app-note-actions>
