:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: hidden;
  
  --mat-sys-primary: var(--mat-sys-on-surface-variant);
}

.labels-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

.title {
  margin-block: 0.5rem;
}

.close {
  margin-top: 0.5rem;
  text-align: end;
}