<app-note-form
  [withTitleInput]="open()"
  placeholderContent="Take a note..."
></app-note-form>

@if(open()) {
  @if(noteState().note?.labels; as labels) {
    <app-labels-stack 
      (onRemoveLabel)="handleNoteInputChange($event)" 
      [labels]="labels"
    ></app-labels-stack>
  }

  <app-note-actions>
    <!-- Delete note, if already added -->
    <button 
      mat-icon-button 
      appDeleteNoteAction 
      [note]="noteState().note"      
      tooltip="Discard note"
      (onDeleteNote)="handleDiscardNote()"
      deleteDialogMessage="Discard note?"
      [moveToTrash]="false"
      [requireConfirmation$]="deletionRequiresConfirmation$"
      [refetchOnDelete]="false"
    >
      <mat-icon class="material-symbols-outlined">delete</mat-icon>
    </button>

    <!-- Change background color of note -->
    <app-change-background-color-action
      (onChangeNoteBackgroundColor)="handleNoteInputChange($event)"
      [note]="noteState().note || undefined"
    ></app-change-background-color-action>
    
    <!-- Manage note labels -->
    <app-note-manage-labels-action
      [note]="noteState().note"
      (onNoteLabelsInputChange)="handleNoteInputChange($event)"
    ></app-note-manage-labels-action>

    <!-- Finish adding, close component -->
    <button 
      (click)="handleClose($event)"
      align-end 
      mat-button
    >Done</button>
  </app-note-actions>
}