<app-note-form
  [withTitleInput]="open()"
  placeholderContent="Take a note..."
  (onNoteInputChange)="handleNoteInputChange($event)">
</app-note-form>
@if(open()) {
  @if(noteState().note?.labels; as labels) {
    <app-labels-stack 
      (onRemoveLabel)="handleNoteInputChange($event)" 
      [labels]="labels"
    ></app-labels-stack>
  }
  <app-note-actions>
    <app-delete-note-action 
      [note]="noteState().note"
      [requireConfirmation]="deletionRequiresConfirmation()"
      tooltip="Discard note"
      (onDeleteNote)="resetComponent()"
      deleteDialogMessage="Discard note?"
    >
    </app-delete-note-action>
    <!-- <button mat-icon-button>
      <mat-icon class="material-symbols-outlined">delete</mat-icon>
    </button> -->
    <button mat-icon-button>
      <mat-icon class="material-symbols-outlined">palette</mat-icon>
    </button>
    <app-note-manage-labels-action
      [note]="noteState().note"
      (onNoteLabelsInputChange)="handleNoteInputChange($event)"
    ></app-note-manage-labels-action>
    <button mat-icon-button>
      <mat-icon class="material-symbols-outlined">content_copy</mat-icon>
    </button>
    <button align-end mat-button>Done</button>
  </app-note-actions>
}