@let notes = notesQuery.data$ | async;
@let loading = notesQuery.loading$ | async;
@let notesParams = this.navigationService.notesParamsObs$ | async;

@if (!(navigationService.trash$ | async)) {
  <app-add-note></app-add-note>
}

@if(notes) {
  @for(note of notes; track note.id) {
    <app-note [note]="note"></app-note>
  } @empty {
    @if(!loading) {
      @if (notesParams?.labelName) {
        <div class="fallback">
          <mat-icon class="material-symbols-outlined">label</mat-icon>
          <p>No notes with this label yet</p>
        </div>
      } @else {
        <div class="fallback">
          <mat-icon class="material-symbols-outlined">lightbulb_2</mat-icon>
          <p>No notes yet</p>
        </div>
      }
    }
  }
}