:host {
  display: block;
  max-width: 600px;
  margin: auto;
}

.fallback {
  text-align: center;
  margin-top: 20vh;

  mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
    color: var(--border-gray);
  }
}