<app-label-input [error]="error()">
  @if(active()) {
    <button mat-icon-button (click)="deactivate()">
      <mat-icon>close</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="activate()">
      <mat-icon>add</mat-icon>
    </button>
  }
    <input
      #input 
      [formControl]="labelNameInput"
      placeholder="Create new label"
      spellcheck="false"
    />
  @if(active()) {
    <button mat-icon-button (click)="handleAddLabel(input.value)">
      <mat-icon>check</mat-icon>
    </button>
  } 
</app-label-input>