
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="material-symbols-outlined">new_label</mat-icon>
</button>
<!-- put menu in ng-content to make it lazily loaded -->
<mat-menu #menu (close)="handleClose()">
  <div (click)="doNotPropagate($event)">
    <div>Add labels</div>
    <div>
      <input [formControl]="labelsFilter"/>
      <mat-icon>search</mat-icon>
    </div>
    @if(visibleLabels$ | async; as labels) {
      @for(label of labels; track label.id) {
        <div (click)="toggleSelection(label)">
          @if(labelsSelection?.isSelected(label)) {
            <mat-icon class="material-symbols-outlined">check_box</mat-icon>
          } @else {
            <mat-icon class="material-symbols-outlined">check_box_outline_blank</mat-icon>
          }
          {{label.name}}
        </div>
      } @empty {
        <div class="add-label" role="button" (click)="handleAddLabel()">
          <mat-icon>add</mat-icon>
          <span>Create </span>
          <span class="bold">"{{labelsFilter.value}}"</span>
        </div>
      }
    }
    <button mat-button>Done</button>
  </div>
</mat-menu>