@let mobile = mobile$ | async;
@let title = navigation.title$ | async;

<header>
  <button class="menu" mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="sticky-notes.png">
  <span class="title">{{ title || "Notes" }}</span>
  <span class="spacer"></span>
  <app-searchbar></app-searchbar>
  <span class="spacer"></span>
  @if (loading()) { 
    <mat-spinner diameter="24"></mat-spinner> 
  } @else {
    <mat-icon class="material-symbols-outlined">cloud_done</mat-icon>
  } 
  <app-about matTooltip="About"></app-about>
</header>
<div id="container">
  <app-sidenav 
    [expanded]="sideNavExpanded()" 
    [open]="sideNavOpen()" 
    [mobile]="mobile"
  ></app-sidenav>
  <main [class.left-offset]="!sideNavOpen()">
    <app-notes></app-notes>
  </main>
</div>