:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;  
}

header {
  height: 64px;
  box-shadow: var(--borderish-box-shadow);
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  gap: 1rem;
  color: var(--header-font-color);
  --mat-sys-on-surface-variant: var(--header-font-color);
  user-select: none;

  --mat-sys-primary: var(--mat-sys-on-surface-variant);
}

.menu {
  transform: scale(1.2)
}

.logo {
  height: 55%;
}

.spacer {
  flex: 1;
}

.title {
  font-size: 1.5em;
  max-width: 120px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container {
  position: relative;
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.left-offset {
  margin-left: 64px;
}

main {
  flex: 1;
  overflow-y: auto;
}