<div class="note-form" [formGroup]="noteForm">
  @if(withTitleInput()) {
    <div>
      @if(!noteForm.controls.title.value){
        <div class="placeholder input-title">{{placeholderTitle()}}</div>
      }
      <div
        (keydown)="handleEnterKey($event)"
        #titleInput
        aria-multiline="false"
        formControlName="title"
        class="textarea input-title"
        role="textbox"
        spellcheck="false"
        contenteditable
      ></div>
    </div>
  }
  <div>
    @if(!noteForm.controls.content.value){
      <div class="placeholder input-content">{{placeholderContent()}}</div>
    }
    <div
      #noteContent
      aria-multiline="true"
      formControlName="content"
      class="textarea input-content"
      role="textbox"
      spellcheck="false"
      contenteditable
    ></div>
  </div>
</div>