.note-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea {
  white-space: pre-wrap;
  outline: none;
}

.input-title {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-inline: 1rem;
}

.input-content {
  padding: 1rem;
}

.placeholder {
  position: absolute;
  pointer-events: none;
}