@if(note().title; as title) {
  <div class="title">{{title}}</div>
}

@if(note().content; as content) {
  <div class="content" [innerHTML]="content">
  </div>
} 

@if(emptyNote()) {
  <div class="empty-note">
    Empty note
  </div>
}



<!-- @if(note().labels; as labels) {
  <app-labels-stack [labels]="labels"></app-labels-stack>
} -->

<div class="note-actions">
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">palette</mat-icon>
  </button>
  <button mat-icon-button>
    <!-- Maybe use normal label icon -->
    <mat-icon class="material-symbols-outlined">new_label</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">content_copy</mat-icon>
  </button>
</div>